.bundle
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
*~

*.rbc
*.sassc
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
